.caretIcon{
    color: #fff;
    width: 30px;
    height: 60px;
}
.caretIcon--shelf{
    color: #23475E;
    width: 18px;
    height: 36px;
    
}
.caretIcon--promo{
    color: #23475E;
    width: 18px;
    height: 36px;
}.caretIcon--summary{
    color: #23475E;
    width: 18px;
    height: 36px;
}
